<h1>Your Burger logger! After all, who's keeping track?!?</h1>
<h2> Would you like to eat your burger or toss it? </h2>

<ul>
  {{#each burgers}}
  {{#if devoured}}
  {{> burgers/burger-block devoured=false}}
  {{/if}}
  {{/each}}
</ul>

<h2> These Burgers have already been devoured: Are you full yet? </h2>

<ul>
  {{#each burgers}}
  {{#unless devoured}}
  {{> burgers/burger-block devoured=true}}
  {{/unless}}
  {{/each}}
</ul>


<h2>Make your own: Maybe someone else will want to devour it.  </h2>
<form id="create-form">

  <div class="form-group">
    <label for="ca">Burger name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Ready to submit your creation to the menu?</label>
    <input type="radio" name="devoured" value="1" id="devoured" checked> Yum!
    <input type="radio" name="devoured" value="0" id="yuck"> On second thought, I'd rather delete it.
      {{!-- <button type="submit">Add burger</button> --}}
  </div>

  <button type="submit">Add Burger</button>
</form>