<header>
  <img src="/public/assets/img/burger.png" width="400px" id="burgpic">
    <h1>DA Burgers!</h1>
</header>

<div class="container">
    <div class="row">
        <h2>Create Your Dream Burgers</h2>
        <div>
            <form id="burger-create">
                <div class="form-group">
                    <label for="burger">burger name:</label>
                    <input type="text" id="add_burg" name="burger_name">
                </div>

                <button type="submit">Create!</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h2>Devour Your Creation!</h2>
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                <li>
                    {{this.burger_name}}
                    <button class="devour-burger" data-id="{{this.id}}" devoured="{{this.devoured}}">Devour It!</button>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="col-6">
            <h2>Devoured Burgers</h2>
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                <li>
                    {{this.burger_name}}
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>