.navbar {
  background-color: rgb(6, 24, 59);
  text-size-adjust: 100px;
}

.container {
  position: center;
  background-color: bisque;
  padding: 50px;
}
#bname {
  text-align: left;
 
  font-weight: bold;


}
li {
    padding: 5px;
    margin: 5px;
    
    
  }
  

 
  h1 {
    text-align: center;
   
  }
